@model IEnumerable<ProjectDB.Download>

@{
    ViewBag.Title = "MyDownloads";
    Layout = "~/Views/Shared/_RagisterView.cshtml";
}

<!-- My Downloads -->
<section id="my-downloads">

    <div class="content-box">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="left-heading">
                        <h2> My Downloads </h2>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="search">
                        <div class="row">
                            <div class="col-md-7">
                                <div class="search-bar">
                                    <input type="text" class="form-control" id="search-input" aria- placeholder="        search">
                                    <div class="search-icon">
                                        <img src="/Images/search-icon.png" alt="Search Icon" title="Search">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="search-btn">
                                    <button class="btn blue-btn" title="Search" onclick="getDownloads()" role="button"> SEARCH </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div id="getMyDownload"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- My Downloads Ends -->

