@model IEnumerable<ProjectDB.SellerNote>

@{
    ViewBag.Title = "MyRejectedNotes";
    Layout = "~/Views/Shared/_RagisterView.cshtml";
}

<!-- My Rejected Notes -->
<section id="my-rejected-notes">

    <div class="content-box">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="left-heading">
                        <h2> My Rejected Notes </h2>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="search">
                        <div class="row">
                            <div class="col-md-7">
                                <div class="search-bar">
                                    <input type="text" class="form-control" id="search-input" aria- placeholder="        search">
                                </div>
                                <div class="search-icon">
                                    <img src="/Images/search-icon.png">
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="search-btn">
                                    <button class="btn blue-btn" title="Add Note" onclick="getRejectedNotes()" role="button"> SEARCH </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div id="getRejected"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- My Rejected Notes Ends -->
