@model ProjectModels.Models.UserModel

@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_AccountView.cshtml";
}

<!-- Forget Password Page -->
<section id="forgot-password-page">
    <div class="login">
        <div class="content">
            <img src="~/Images/top-logo.png" alt="logo" class="img-responsive" title="Logo">
            <div class="login-content">
                <div class="login-heading">
                    <h1> Forgot Password? </h1>
                </div>
                <div class="login-text">
                    <p> Enter your email to reset your password </p>
                </div>
                <div class="login-form">
                    <form method="post" action="/Account/ForgotPassword">
                        <div class="form-group">
                            @*<label for="email">Email</label>*@
                            @*<input type="email" class="form-control" id="email" name="email" aria- placeholder="Enter your email">*@
                            @Html.LabelFor(u => u.EmailID)
                            @Html.TextBoxFor(u => u.EmailID, new { type = "email", @class = "form-control", placeholder = "Enter your email" })
                            @Html.ValidationMessageFor(u => u.EmailID)
                            <div class="field-validation-error">
                                @Html.DisplayFor(u => u.Error)
                            </div>
                        </div>
                        <div class="login-page-button">
                            <button type="submit" class="btn btn-primary" title="Submit">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Forget Password Page Ends -->
