
@{
    ViewBag.Title = "FAQ";
    Layout = "~/Views/Shared/_RagisterView.cshtml";
}

<!-- FAQ -->
<section id="FAQ">

    <!-- FAQ Content -->
    <div class="search-content">
        <div class="main-heading-center">
            <h1> Frequently Asked Questions </h1>
        </div>
    </div>

    <div class="content-box-md">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="FAQ-heading">
                        <div class="left-heading">
                            <h2> General Questions </h2>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div id="g1">
                        <div class="FAQ-box">
                            <div class="row">
                                <div class="col-md-11">
                                    <div class="FAQ-question">
                                        <h6> What is Marketplace-Notes?</h6>
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <div class="FAQ-pm">
                                        <img src="~/Images/minus.png" data-target="#g1">
                                    </div>
                                </div>
                                <div class="col-md-10">
                                    <div class="FAQ-text">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit provident ullam explicabo veniam sunt odit laudantium impedit, repudiandae, placeat aliquam aperiam voluptate atque at error facilis nulla ratione accusamus unde.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="g2" class="FAQ-box-add">
                        <div class="FAQ-box">
                            <div class="row">
                                <div class="col-md-11">
                                    <div class="FAQ-question">
                                        <h6> What do the Unvidersity say?</h6>
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <div class="FAQ-pm">
                                        <img src="~/Images/plus.png" data-target="#g2">
                                    </div>
                                </div>
                                <div class="col-md-10">
                                    <div class="FAQ-text">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit provident ullam explicabo veniam sunt odit laudantium impedit, repudiandae, placeat aliquam aperiam voluptate atque at error facilis nulla ratione accusamus unde.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="g3" class="FAQ-box-add">
                        <div class="FAQ-box">
                            <div class="row">
                                <div class="col-md-11">
                                    <div class="FAQ-question">
                                        <h6> Is this legal?</h6>
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <div class="FAQ-pm">
                                        <img src="~/Images/plus.png" data-target="#g3">
                                    </div>
                                </div>
                                <div class="col-md-10">
                                    <div class="FAQ-text">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit provident ullam explicabo veniam sunt odit laudantium impedit, repudiandae, placeat aliquam aperiam voluptate atque at error facilis nulla ratione accusamus unde.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="FAQ-heading">
                        <div class="left-heading">
                            <h2> Uploaders </h2>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div id="u1" class="FAQ-box-add">
                        <div class="FAQ-box">
                            <div class="row">
                                <div class="col-md-11">
                                    <div class="FAQ-question">
                                        <h6> What con't I sell?</h6>
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <div class="FAQ-pm">
                                        <img src="~/Images/plus.png" data-target="#u1">
                                    </div>
                                </div>
                                <div class="col-md-10">
                                    <div class="FAQ-text">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit provident ullam explicabo veniam sunt odit laudantium impedit, repudiandae, placeat aliquam aperiam voluptate atque at error facilis nulla ratione accusamus unde.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="u2" class="FAQ-box-add">
                        <div class="FAQ-box">
                            <div class="row">
                                <div class="col-md-11">
                                    <div class="FAQ-question">
                                        <h6> What notes can I sell?</h6>
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <div class="FAQ-pm">
                                        <img src="~/Images/plus.png" data-target="#u2">
                                    </div>
                                </div>
                                <div class="col-md-10">
                                    <div class="FAQ-text">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit provident ullam explicabo veniam sunt odit laudantium impedit, repudiandae, placeat aliquam aperiam voluptate atque at error facilis nulla ratione accusamus unde.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="FAQ-heading">
                        <div class="left-heading">
                            <h2> Downloaders </h2>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div id="d1" class="FAQ-box-add">
                        <div class="FAQ-box">
                            <div class="row">
                                <div class="col-md-11">
                                    <div class="FAQ-question">
                                        <h6> How do I buy notes?</h6>
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <div class="FAQ-pm">
                                        <img src="~/Images/plus.png" data-target="#d1">
                                    </div>
                                </div>
                                <div class="col-md-10">
                                    <div class="FAQ-text">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit provident ullam explicabo veniam sunt odit laudantium impedit, repudiandae, placeat aliquam aperiam voluptate atque at error facilis nulla ratione accusamus unde.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="d2" class="FAQ-box-add">
                        <div class="FAQ-box">
                            <div class="row">
                                <div class="col-md-11">
                                    <div class="FAQ-question">
                                        <h6> Can I edit the notes I purchased?</h6>
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <div class="FAQ-pm">
                                        <img src="~/Images/plus.png" data-target="#d2">
                                    </div>
                                </div>
                                <div class="col-md-10">
                                    <div class="FAQ-text">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit provident ullam explicabo veniam sunt odit laudantium impedit, repudiandae, placeat aliquam aperiam voluptate atque at error facilis nulla ratione accusamus unde.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- FAQ Ends -->
