
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_RagisterView.cshtml";
}

<!-- Home -->
<section id="home">

    <!-- Home-Content -->
    <div id="home-content">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div id="home-heading">
                        <h1>Download Free/Paid Notes <br> or Sale Your Book </h1>
                    </div>
                    <div id="home-text">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem quasi modi minima, quo quidem.</p>
                    </div>
                    <div id="home-button1">
                        <a class="btn home-button" href="/Home/FAQ" title="Learn More" role="button"> Learn More </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content-box-md">
        <!-- About -->
        <div id="about">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="left-heading">
                            <h2> About <br> NotesMarketPlace </h2>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class='text' id="about-text">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis numquam dolorum, dolorem accusantium beatae illo similique laborum minus, perspiciatis atque eum. Libero accusantium id repellat distinctio delectus mollitia molestiae facilis. similique veritatis. Natus suscipit, quis mollitia?</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati laudantium voluptates fuga doloremque explicabo distinctio harum! Eligendi, nihil magnam fugit. Voluptates repellendus aliquid. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Works -->
        <div id="works">
            <div id="works-heading">
                <div class="heading-center">
                    <h1>How it Works?</h1>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="works-download">
                            <div class="icons">
                                <div class="icon">
                                    <img src="/Images/download.png" alt="icon">
                                </div>
                            </div>
                            <div class="heading-md">
                                <h3> Download Free/Paid Notes </h3>
                            </div>
                            <div class="text">
                                <p>Get Material for your Cource etc.</p>
                            </div>
                            <a class="btn blue-btn" href="/Home/SearchNote" title="Download" role="button"> Download</a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="works-download">
                            <div class="icons">
                                <div class="icon">
                                    <img src="/Images/seller.png">
                                </div>
                            </div>
                            <div class="heading-md">
                                <h3> Seller </h3>
                            </div>
                            <div class="text">
                                <p> Upload and Download Cource and Materials etc. </p>
                            </div>
                            <a class="btn blue-btn" href="/Home/SellNote" title="Sell Book" role="button"> Sell Book </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Customers -->
        <div id="customers">
            <div id="works-heading">
                <div class="heading-center">
                    <h1> What our Customers are Saying </h1>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="coustomer">
                            <div class="row">
                                <div class="col-md-3">
                                    <img src="/Images/customer-1.png" alt="customer" class="img-responsive">
                                </div>
                                <div class="col-md-9">
                                    <h2> Walter Meller </h2>
                                    <h6> Founder &amp; CEO, Matrix Group </h6>
                                </div>
                                <div class="col-md-12">
                                    <p class="text"> "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt qui in ea quam iure ratione accusantium debitis dicta autem facilis! Ipsa, eos, aliquid. Itaque quis at maxime ipsam harum a." </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="coustomer">
                            <div class="row">
                                <div class="col-md-3">
                                    <img src="/Images/customer-2.png" alt="customer" class="img-responsive">
                                </div>
                                <div class="col-md-9">
                                    <h2>Daniel Cardos </h2>
                                    <h6> Software Engineer, Infinitum Company </h6>
                                </div>
                                <div class="col-md-12">
                                    <p class="text"> "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt qui in ea quam iure ratione accusantium debitis dicta autem facilis! Ipsa, eos, aliquid. Itaque quis at maxime ipsam harum a." </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="coustomer">
                            <div class="row">
                                <div class="col-md-3">
                                    <img src="/Images/customer-3.png" alt="customer" class="img-responsive">
                                </div>
                                <div class="col-md-9">
                                    <h2> Amilia Luna </h2>
                                    <h6> Teacher, Saint Joseph High School </h6>
                                </div>
                                <div class="col-md-12">
                                    <p class="text"> "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt qui in ea quam iure ratione accusantium debitis dicta autem facilis! Ipsa, eos, aliquid. Itaque quis at maxime ipsam harum a." </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="coustomer">
                            <div class="row">
                                <div class="col-md-3">
                                    <img src="/Images/customer-4.png" alt="customer" class="img-responsive">
                                </div>
                                <div class="col-md-9">
                                    <h2> Jonnie Riley </h2>
                                    <h6> Employee, Curious Snakcs </h6>
                                </div>
                                <div class="col-md-12">
                                    <p class="text"> "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt qui in ea quam iure ratione accusantium debitis dicta autem facilis! Ipsa, eos, aliquid. Itaque quis at maxime ipsam harum a." </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- Home Ends -->
